* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%);
}

div {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	button {
		padding: 15px;
		border-radius: 8px;
		background: linear-gradient(45deg, #ff24da 100%, #ff249c 0%);
		&:hover {
			background: linear-gradient(50deg, #ff24da 50%, #ff249c 50%);
		}
	}
}
